/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{

    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: calc(100%/3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.mb{
    margin-bottom: 24px;
}
.clear{
    clear: both;
}
.full-width{
    width:100%;
}
.text-white{
    color: #fff;
}

#header{
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li{
    display:inline-block;
    position: relative;
}

#nav >li >a{
    line-height: 46.5px;
    padding: 0 24px;
    color: white;
    text-decoration: none;
}

#nav >li >a{
    text-transform: uppercase;
}


#nav li:hover{
    background-color: #ccc;
}

.icon{
    font-size: 14px;
}

li:hover  .subnav{
    display: block;
}

.subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3);
}

.subnav li{
    min-width: 160px;
    line-height: 38.5px;
    width: 100%;
}

.subnav li a{
    text-decoration: none;
}
.subnav #con{
    padding: 0px 36px 0px 12px;
}

.subnav a{
    color: black !important;
}


.btn{
    color:white;
    float: right;
    line-height: 46.5px;
    padding: 0.2px 23.5px;
    cursor: pointer;
}

#header .mobile-menu-btn{
    color:white;
    float: right;
    line-height: 46.5px;
    padding: 0.2px 23.5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn:hover{
    color: #fff;
    background-color: #ccc;
}

.btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/css/img/slider1/ny.jpg) top center/ cover no-repeat;
}

#slider{
    position: relative;
}

#slider .textcontent{
    color: #fff;
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .textcontent .textheader{
    font-size: 24px;
    font-weight: 500;
}

#slider .textcontent .textdecription{
    font-size: 15px;
    margin-top: 35px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-subheading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 60%;
}
#content .section-heading, 
#content .section-subheading{
    text-align: center;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 36px;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section{
    background: black;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #000;
}
.ticket-list .sold-out{
    background-color: rgb(226, 37, 37);
    color: #fff;
    padding: 1.5px 4px;
    margin-left: 16px;
    float: right;
    border-radius: 5px;
}

.ticket-list .sold-out1{
    background-color: rgb(226, 37, 37);
    color: #fff;
    padding: 1.5px 4px;
    margin-left: 16px;
    float: right;
    border-radius: 5px;
}

.ticket-list{
    border-radius: 10px;
}

.place-list{
    margin-top: 32px;
    padding-bottom: 50px;
}


.place-img{
    width: 100%;
    display: block;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.place-img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}




.place-time{
    margin-top: 15px;    
    color: #757575;
}


.place-desc{
    margin-top: 15px;
    line-height: 1.4;    
}


.place-buy-btn{
    padding: 11px 70px 11px 75px;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-weight: 300;
    border:none;
    border-radius: 15px;
}

.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal{

    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;

    position: relative;
}

.modal .modal-header{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-color: #009688;
}

.ti-bag{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}

.modal-close:hover{
    background-color: rgb(255, 50, 26);
    opacity: 0.8;
    cursor: pointer;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
.modal-body{
    padding: 16px;
}

#buyticket{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buyticket:hover{
    cursor: pointer;
    background-color: rgb(204, 73, 26);
}

.contact-content{
    margin-top: 48px;
}
.modal-footer{
    text-align: right;
    margin-bottom: 15px;
    margin-right: 15px;
}

.contact-info{
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
    line-height: 1.4;
}

.contact-form{
    font-size: 15px;
}

.contact-form .formcontrol{
    padding: 17px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn{
    border: none;
    padding: 10px 16px;
    float: right;
    color: #fff;
    background-color: #000;
}

.form-submit-btn:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
    color: black;
}

.modal-help a:hover{
    color:rgb(100, 133, 243)
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    padding: 0px 50px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 8px;
}

#footer .soicon{
    padding: 0 5px;
}
.copyright{
    margin-left: 10px
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

@media (min-width: 740px) and (max-width: 1023px){
    .tablet{
        display: block;
    }
}
@media (max-width: 740px){
    .mobile{
        display: block;
    }
}